<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UDPcastCFE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UDPcastCFE.Properties.Settings>
            <setting name="Filename" serializeAs="String">
                <value />
            </setting>
            <setting name="Destination" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="Interface" serializeAs="String">
                <value>0</value>
            </setting>
        </UDPcastCFE.Properties.Settings>
    </userSettings>
</configuration>